In [86]:
import pandas as pd
import numpy as np
path = r"C:\Users\reha_\Desktop\IPLIIT\all_matches.csv"
df=pd.read_csv(path)
df = df[df["ball"] < 6.0]

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [87]:
"""df.dtypes
df1 = df.groupby('striker')['runs_off_bat'].count().sort_values(ascending=False)
df1.head(10)
df2 = df.groupby('venue')['runs_off_bat'].count().sort_values(ascending=False)
df2.head(10)
df3 = df.groupby('bowler')['runs_off_bat'].count().sort_values(ascending=True)
df3.head(10)"""

"df.dtypes\ndf1 = df.groupby('striker')['runs_off_bat'].count().sort_values(ascending=False)\ndf1.head(10)\ndf2 = df.groupby('venue')['runs_off_bat'].count().sort_values(ascending=False)\ndf2.head(10)\ndf3 = df.groupby('bowler')['runs_off_bat'].count().sort_values(ascending=True)\ndf3.head(10)"

In [88]:
df["wicket_type"].fillna(0, inplace = True)
df["wicket_type"].replace({"bowled": 1,"caught": 1,"caught and bowled": 1,"hit wicket": 1,"lbw": 1,"obstructing the field": 1,"retired hurt": 1,"run out": 1,"stumped": 1, }, inplace=True)

In [89]:
df["match_id"] = 10 * df["match_id"] + df["innings"]
aggregation_functions = {'runs_off_bat': 'sum', 'batting_team':'first', 'bowling_team':'first', 'extras':'sum', 'wicket_type': 'sum', 'venue': 'first'}
df_new = df.groupby('match_id').aggregate(aggregation_functions)
df_new["total_runs"] = df_new["runs_off_bat"] + df_new["extras"]
df_new

,runs_off_bat,batting_team,bowling_team,extras,wicket_type,venue,total_runs
match_id,,,,,,,
3359821,51,Kolkata Knight Riders,Royal Challengers Bangalore,10,1,M Chinnaswamy Stadium,61
3359822,19,Royal Challengers Bangalore,Kolkata Knight Riders,7,4,M Chinnaswamy Stadium,26
3359831,50,Chennai Super Kings,Kings XI Punjab,3,1,"Punjab Cricket Association Stadium, Mohali",53
3359832,61,Kings XI Punjab,Chennai Super Kings,2,1,"Punjab Cricket Association Stadium, Mohali",63
3359841,38,Rajasthan Royals,Delhi Daredevils,2,2,Feroz Shah Kotla,40
...,...,...,...,...,...,...,...
12540582,38,Royal Challengers Bangalore,Mumbai Indians,8,2,"MA Chidambaram Stadium, Chepauk, Chennai",46
12540591,30,Chennai Super Kings,Delhi Capitals,3,2,"Wankhede Stadium, Mumbai",33
12540592,65,Delhi Capitals,Chennai Super Kings,0,0,"Wankhede Stadium, Mumbai",65
12540601,50,Kolkata Knight Riders,Sunrisers Hyderabad,0,0,"MA Chidambaram Stadium, Chepauk, Chennai",50
12540602,35,Sunrisers Hyderabad,Kolkata Knight Riders,0,2,"MA Chidambaram Stadium, Chepauk, Chennai",35

In [90]:
df_ch = df_new.drop(columns =['runs_off_bat', 'batting_team', 'bowling_team', 'extras', 'venue'])
dummy = pd.get_dummies(df_new['batting_team'])
df_res = pd.concat([df_ch, dummy], axis = 1)
dummy1 = pd.get_dummies(df_new['bowling_team'])
df_res1 = pd.concat([df_res, dummy1], axis = 1)
dummy2 = pd.get_dummies(df_new['venue'])
df5 = pd.concat([df_res1, dummy2], axis = 1)
df5

,wicket_type,total_runs,Chennai Super Kings,Deccan Chargers,Delhi Capitals,Delhi Daredevils,Gujarat Lions,Kings XI Punjab,Kochi Tuskers Kerala,Kolkata Knight Riders,...,Sawai Mansingh Stadium,Shaheed Veer Narayan Singh International Stadium,Sharjah Cricket Stadium,Sheikh Zayed Stadium,St George's Park,Subrata Roy Sahara Stadium,SuperSport Park,"Vidarbha Cricket Association Stadium, Jamtha",Wankhede Stadium,"Wankhede Stadium, Mumbai"
match_id,,,,,,,,,,,,,,,,,,,,,
3359821,1,61,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3359822,4,26,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3359831,1,53,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3359832,1,63,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3359841,2,40,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12540582,2,46,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12540591,2,33,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12540592,0,65,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12540601,0,50,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12540602,2,35,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [91]:
train_df5=df5[:1331]
train_target=train_df5["total_runs"].values
train_df5=train_df5.drop(["total_runs"],axis=1)
train_features=train_df5.values

In [92]:
test_df5=df5[1331:]
test_target=test_df5["total_runs"].values
test_target

array([55, 37, 44, 57, 51, 51, 50, 39, 43, 40, 51, 56, 59, 43, 40, 62, 79,
       57, 56, 49, 39, 47, 42, 60, 61, 56, 47, 45, 34, 38, 55, 63, 33, 47,
       47, 38, 51, 55, 57, 59, 58, 44, 58, 29, 53, 51, 51, 47, 66, 68, 51,
       60, 57, 44, 56, 39, 44, 45, 55, 60, 66, 46, 57, 29, 33, 47, 33, 46,
       51, 45, 67, 42, 35, 33, 16, 54, 47, 45, 46, 32, 64, 43, 58, 53, 51,
       52, 60, 35, 69, 62, 38, 36, 45, 10,  7, 59, 30, 29, 45, 54, 49, 48,
       55, 40, 34, 36, 62, 53, 59, 54, 46, 30, 39, 40, 53, 28, 65, 27, 38,
       29, 40, 50, 50, 54, 24, 41, 57, 57, 59, 60, 63, 49, 44, 51, 40, 45,
       67, 39, 54, 41, 68, 57, 48, 42, 37, 46, 60, 50, 60, 61, 72, 49, 32,
       52, 59, 54, 49, 70, 68, 32, 55, 45, 40, 51, 60, 59, 64, 50, 41, 77,
       44, 62, 41, 27, 59, 44, 59,  8,  9, 41, 62, 30, 46, 52, 49, 42, 68,
       49, 46, 32, 44, 54, 55, 41, 42, 45, 53, 51, 37, 23, 35,  2,  3, 17,
       44, 48, 56, 54, 53, 36, 36, 47, 52, 54, 45, 51, 41, 52, 54, 30, 58,
       41, 41, 42, 39, 40, 53, 53, 57, 26, 36, 59, 33, 39, 41, 50, 40, 57,
       31, 48, 58,  2,  3, 46, 60, 38, 50, 57, 59, 42, 36, 43, 51,  5,  5,
       11, 15, 47, 58, 63, 43, 54, 36, 24, 52, 52, 47, 25, 47, 77, 54, 36,
       26, 33, 51, 60, 69, 44, 40, 46, 44, 55, 41, 57, 56, 38, 34, 43, 31,
       53, 48, 22, 38, 48, 44, 53, 66, 48, 56, 36, 34, 47, 43, 59, 55, 58,
       45, 47, 50, 46, 48, 40, 52, 53, 57, 59, 35,  7, 11, 63, 32, 32, 48,
       65, 49, 41, 61, 41, 46, 33, 65, 50, 35], dtype=int64)

In [93]:
test_df5=test_df5.drop(["total_runs"],axis=1)
test_features=test_df5.values

In [94]:
train_target.shape

(1331,)

In [96]:
import keras
from keras.layers import Dense
from keras.models import Sequential
from keras.utils import to_categorical

ModuleNotFoundError: No module named 'keras'

In [ ]:
train_target=to_categorical(train_target)

In [75]:
train_target.shape

(1331,)

In [ ]:
model=Sequential()
model.add(Dense(200,activation='relu',input_shape=(73,)))
model.add(Dense(64,activation='relu'))
model.add(Dense(12,activation='relu'))
model.add(Dense(1,activation='softmax'))
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=["accuracy"])
model.fit(train_features,train_target,epochs=17)