Defining Path, loading data set and trimming to first six overs only

In [28]:
import pandas as pd
import numpy as np
path = r"C:\Users\reha_\Desktop\IPLIIT\all_matches.csv"
df=pd.read_csv(path)
df = df[df["ball"] < 6.0]

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [29]:
df.dtypes

match_id                    int64
season                     object
start_date                 object
venue                      object
innings                     int64
ball                      float64
batting_team               object
bowling_team               object
striker                    object
non_striker                object
bowler                     object
runs_off_bat                int64
extras                      int64
wides                     float64
noballs                   float64
byes                      float64
legbyes                   float64
penalty                   float64
wicket_type                object
player_dismissed           object
other_wicket_type         float64
other_player_dismissed    float64
dtype: object

Grouping by MAXIMUM RUNS

In [30]:
df2 = df.groupby('striker')['runs_off_bat'].count().sort_values(ascending=False)
df2.head(50)

striker
S Dhawan            2222
DA Warner           1948
G Gambhir           1945
CH Gayle            1794
AM Rahane           1730
PA Patel            1630
V Kohli             1558
RV Uthappa          1541
M Vijay             1416
SR Watson           1292
BB McCullum         1278
SK Raina            1204
V Sehwag            1160
AC Gilchrist        1080
RG Sharma           1043
SR Tendulkar        1035
JH Kallis           1024
DR Smith            1003
Q de Kock            941
MK Pandey            893
KL Rahul             875
R Dravid             855
MEK Hussey           791
AJ Finch             773
F du Plessis         768
SE Marsh             753
MA Agarwal           725
AT Rayudu            696
SV Samson            689
SS Iyer              645
AB de Villiers       617
CA Lynn              553
SC Ganguly           540
Mandeep Singh        523
DPMD Jayawardene     521
WP Saha              511
M Vohra              503
NV Ojha              503
JC Buttler           502
ML Hayden            482
LMP Simmons          480
KC Sangakkara        468
MS Bisla             460
TM Dilshan           456
PP Shaw              445
SA Yadav             444
HH Gibbs             437
KK Nair              420
KD Karthik           414
ST Jayasuriya        403
Name: runs_off_bat, dtype: int64

In [31]:
df1 = df.groupby('venue')['runs_off_bat'].count().sort_values(ascending=False)
df1.head(20)

venue
Eden Gardens                                           5749
Wankhede Stadium                                       5488
M Chinnaswamy Stadium                                  4841
Feroz Shah Kotla                                       4429
Rajiv Gandhi International Stadium, Uppal              3679
MA Chidambaram Stadium, Chepauk                        3599
Sawai Mansingh Stadium                                 3526
Punjab Cricket Association Stadium, Mohali             2609
Dubai International Cricket Stadium                    2516
Sheikh Zayed Stadium                                   2185
Maharashtra Cricket Association Stadium                1570
Sharjah Cricket Stadium                                1343
Dr DY Patil Sports Academy                             1281
Subrata Roy Sahara Stadium                             1264
Kingsmead                                              1135
Rajiv Gandhi International Stadium                     1120
M.Chinnaswamy Stadium                                  1096
Arun Jaitley Stadium                                   1039
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     967
SuperSport Park                                         911
Name: runs_off_bat, dtype: int64

In [32]:
df3 = df.groupby('bowler')['runs_off_bat'].count().sort_values(ascending=True)
df3.head(10)

bowler
A Ashish Reddy     6
SS Sarkar          6
Ankit Soni         6
B Akhil            6
Y Nagar            6
DAJ Bracewell      6
SS Agarwal         6
GR Napier          6
GS Sandhu          6
Gagandeep Singh    6
Name: runs_off_bat, dtype: int64

In [33]:
df["wicket_type"].fillna(0, inplace = True)
df["wicket_type"].replace({"bowled": 1,"caught": 1,"caught and bowled": 1,"hit wicket": 1,"lbw": 1,"obstructing the field": 1,"retired hurt": 1,"run out": 1,"stumped": 1, }, inplace=True)

In [34]:
df["match_id"] = 10 * df["match_id"] + df["innings"]
df

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,3359821,2007/08,18-04-2008,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,...,1,NaN,NaN,NaN,1.0,NaN,0,NaN,NaN,NaN
1,3359821,2007/08,18-04-2008,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
2,3359821,2007/08,18-04-2008,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,1,1.0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3,3359821,2007/08,18-04-2008,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
4,3359821,2007/08,18-04-2008,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194260,12540602,2021,11-04-2021,"MA Chidambaram Stadium, Chepauk, Chennai",2,5.2,Sunrisers Hyderabad,Kolkata Knight Riders,JM Bairstow,MK Pandey,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
194261,12540602,2021,11-04-2021,"MA Chidambaram Stadium, Chepauk, Chennai",2,5.3,Sunrisers Hyderabad,Kolkata Knight Riders,JM Bairstow,MK Pandey,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
194262,12540602,2021,11-04-2021,"MA Chidambaram Stadium, Chepauk, Chennai",2,5.4,Sunrisers Hyderabad,Kolkata Knight Riders,MK Pandey,JM Bairstow,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
194263,12540602,2021,11-04-2021,"MA Chidambaram Stadium, Chepauk, Chennai",2,5.5,Sunrisers Hyderabad,Kolkata Knight Riders,MK Pandey,JM Bairstow,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
194264,12540602,2021,11-04-2021,"MA Chidambaram Stadium, Chepauk, Chennai",2,5.6,Sunrisers Hyderabad,Kolkata Knight Riders,MK Pandey,JM Bairstow,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN

In [35]:
aggregation_functions = {'runs_off_bat': 'sum', 'batting_team':'first', 'bowling_team':'first', 'extras':'sum', 'wicket_type': 'sum', 'venue': 'first'}
df_new = df.groupby('match_id').aggregate(aggregation_functions)
df_new["total_runs"] = df_new["runs_off_bat"] + df_new["extras"]
df_new

,runs_off_bat,batting_team,bowling_team,extras,wicket_type,venue,total_runs
match_id,,,,,,,
3359821,51,Kolkata Knight Riders,Royal Challengers Bangalore,10,1,M Chinnaswamy Stadium,61
3359822,19,Royal Challengers Bangalore,Kolkata Knight Riders,7,4,M Chinnaswamy Stadium,26
3359831,50,Chennai Super Kings,Kings XI Punjab,3,1,"Punjab Cricket Association Stadium, Mohali",53
3359832,61,Kings XI Punjab,Chennai Super Kings,2,1,"Punjab Cricket Association Stadium, Mohali",63
3359841,38,Rajasthan Royals,Delhi Daredevils,2,2,Feroz Shah Kotla,40
...,...,...,...,...,...,...,...
12540582,38,Royal Challengers Bangalore,Mumbai Indians,8,2,"MA Chidambaram Stadium, Chepauk, Chennai",46
12540591,30,Chennai Super Kings,Delhi Capitals,3,2,"Wankhede Stadium, Mumbai",33
12540592,65,Delhi Capitals,Chennai Super Kings,0,0,"Wankhede Stadium, Mumbai",65
12540601,50,Kolkata Knight Riders,Sunrisers Hyderabad,0,0,"MA Chidambaram Stadium, Chepauk, Chennai",50
12540602,35,Sunrisers Hyderabad,Kolkata Knight Riders,0,2,"MA Chidambaram Stadium, Chepauk, Chennai",35

In [36]:

df_ch = df_new.drop(columns =['runs_off_bat', 'batting_team', 'bowling_team', 'extras', 'venue'])
df_ch

          wicket_type  total_runs
match_id
3359821             1          61
3359822             4          26
3359831             1          53
3359832             1          63
3359841             2          40
...               ...         ...
12540582            2          46
12540591            2          33
12540592            0          65
12540601            0          50
12540602            2          35

[1664 rows x 2 columns]

In [37]:
dummy = pd.get_dummies(df_new['batting_team'])
df.res = pd.concat([df_ch, dummy], axis = 1)
df.res

<ipython-input-37-5d1e0885a189>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.res = pd.concat([df_ch, dummy], axis = 1)

,wicket_type,total_runs,Chennai Super Kings,Deccan Chargers,Delhi Capitals,Delhi Daredevils,Gujarat Lions,Kings XI Punjab,Kochi Tuskers Kerala,Kolkata Knight Riders,Mumbai Indians,Pune Warriors,Rajasthan Royals,Rising Pune Supergiant,Rising Pune Supergiants,Royal Challengers Bangalore,Sunrisers Hyderabad
match_id,,,,,,,,,,,,,,,,,
3359821,1,61,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3359822,4,26,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3359831,1,53,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3359832,1,63,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3359841,2,40,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12540582,2,46,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
12540591,2,33,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12540592,0,65,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
12540601,0,50,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
12540602,2,35,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1